* {
    box-sizing: border-box;
}

body {
    background: #f0f0f0;
    font-family: "Bebas Neue";
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% auto;
    overflow-x: hidden;
}

canvas {
    width: 100%;
    object-fit: contain;
}

a.save {
    font-family: "Bebas Neue";
    font-size: 30px;
    color: white;
    padding: 10px 25px 6px 25px;
    margin: 10px;
    background-color: #000000;
    border-style: hidden;
    text-decoration: none;
}

a.save:hover {
    color: #f9dc4d;
}

button {
    font-family: "Bebas Neue";
    font-size: 30px;
    color: black;
    padding: 10px 10px 6px 10px;
    margin: 10px;
    background-color: #b5c83e;
    border-style: hidden;
    text-decoration: none;
    flex-shrink: 0;
}

button:hover:active {
    background-color: #b5c83e;
    border-color: #b5c83e;
}

button:hover {
    background-color: #c8dd45;
    border-color: #c8dd45;
}

.btn-secondary {
    background-color: #f9dc4d;
}

.btn-secondary:hover:active {
    background-color: #f9dc4d;
    border-color: #f9dc4d;
}

.btn-secondary:hover {
    background-color: #f9ef4d;
    border-color: #f9ef4d;
}

input {
    font-family: "Bebas Neue";
    height: 52px;
    font-size: 30px;
    border-radius: 0;
    border-style: hidden;;
    padding: 0 10px;
    margin: 10px;
    width: 100%;
}

input:focus {
    outline: 1px solid #bbb;
}

input::placeholder {
    font-family: "Bebas Neue";
    font-size: 30px;    
}

.title {
    text-align: center;
    font-size: 60px;
    margin: 10px;
    color: black;
}

.random-button-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.random-button-secondary {
    background-color: #ddd;
}

.random-button-secondary:hover {
    background-color: #ccc;
    border-color: #ccc;
}

.picture-container {
    position: relative;
    width: 800px;
    max-width: 90%;
    margin-bottom: 20px;
}

.image {
    width: 100%;
}

.logo {
    width: 20%;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 1;
}

.image-text {
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.button-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 820px;
}

.divider {
    width: 300px;
    size: 1px;
    color: black;
}

.contact {
    font-size: 18px;
    margin-bottom: 10px;
}

.bottom-text {
    font-family: monospace;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    width: 90%;
}

@media only screen and (max-width: 800px) {
    .title {
        font-size: 40px;
    }
    .picture-container {
        margin-bottom: 0;
    }
    .button-container {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .random-button-container {
        width: 100%;
        align-items: center;
    }    
    .random-button-secondary-container {
        display: flex;
        width: 100%;
    }
    .random-button-secondary {
        margin-top: 0;
    }
    .random-button-secondary:first-child {
        margin-left: 0;
    }    
    .random-button-secondary:nth-child(2) {
        margin-right: 0;
    }
    button {
        font-size: 20px;
        width: 100%;
    }
    input {
        width: 100%;
        height: 40px;
        margin-top: 0;
        font-size: 20px;
    }
    input::placeholder {
        font-size: 20px;
    }
    a.save {
        font-size: 20px;
    }
}
